<!DOCTYPE html>
<html>
<head>
	<title>澳视教育</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../../../Public/css/bootstrap-3.3.0/css/bootstrap.min.css">
	<link href="../../../../Public/css/base_v.3.6.css" rel="stylesheet">
	<link href="../../../../Public/css/index_v.3.4.css" rel="stylesheet">	
	<style type="text/css">
		.menu_box{    height: 100%; line-height: 45px; }
		.first_head_box{
			height: 90px;line-height: 90px;font-size: 18px;background-color: #0aac77;
			color: #fff;padding-left: 20px;top:0px; }
		h1{ font-size: 2em;  -webkit-margin-after: 0;  margin-after: 0;}
		h2{ font-size: 1em;  -webkit-margin-before: 0; margin-after: 0;}
		#test{ : 0; }
		.second_head_box{height: 45px;background-color:#ececec;}
				/*.setting_box{background-color:#ccc;}*/
		.nav_box li{float: left; display: inline;width: 90px;text-align: center;}
		.nav_box li a{ color: #333;font-size: 18px; padding: 10px;}
		.nav_box li:hover{background-color: #fff;}
		.nav_box li a:hover{color: #0aac87 !important}
		.active{background-color: #fff;height: 45px}
		.active a{color: #0aac87 !important}
		.setting_box li{float: left;}
		.setting_box li a{padding: 0 5px}
		li{list-style: none;}
		.menu_two_box{    height: 100%;  line-height: 45px;}
				/*如果给盒子，ie下面的外边距会多15像素*/
		.banner_box{position: relative; }
		.banner_box img{width: 100%;display: none;}
		.show_div{display: block !important;}
		.change_box{position: relative;bottom: 28px;left: 45%}
		.change_box li{background-color: #fff;
		float: left; width: 10px;height: 10px;margin-right: 5px;}

		.i_btn{display:block;width:34px;height:80px;position:absolute;top:180px;z-index:3;background-image:url(../../../../Public/images/a_l.png);}
		.prev_L{left:65px;background-position:0 0;}
		.next_R{right:65px;background-position:-34px 0;}
	</style>
</head>
<body>
	<div class="container">
		<header>
			<div class="row first_head_box">
				<!-- <div>澳视教育</div> -->
				<h1>澳视教育</h1>
				<h2>Educate</h2>
			</div>
			<div class="row second_head_box">
				<!-- 栅格化12个格子 -->
				<div class="col-md-9 menu_box" >
					<ul class="nav_box">
						<li class="active">
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">课程</a>
						</li>
						<li>
							<a href="#">文章</a>
						</li>
						<li>
							<a href="#">社区</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 menu_two_box">
					<ul class="setting_box">
						<li>
							<a href="#">登录</a>
						</li>
						<li>
							<a href="#">注册</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="row">
			<div class="banner_box">
				<a tip="0" class="i_btn prev_L"></a>
				<a tip="1" class="i_btn next_R"></a>
				<div>
				<!-- 第一张图片 -->
					<img class="show_div" src="../../../../Public/images/aa.png"></div>		
				<div>
					<img src="../../../../Public/images/dd.png"></div>
				<div>
					<img src="../../../../Public/images/aa.png"></div>			
				<div>
					<img src="../../../../Public/images/dd.png"></div>
			</div>
			<ul class="change_box">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="hbox clearfix">
		    <div class="hmod_main">

		      <div class="hmod_hd clearfix">

		        <div class="hmod_hd_title clearfix">
		          <h2><a href="#" title="编程">编程</a></h2>
		          <div class="hmod_hd_column" style="float:right; width:50px;"><a href="#">更多</a></div>
		          <div class="hmod_hd_column">
		            <a href="#" title="">php</a><span class="c_line">|</span>
		            <a href="#" title="">html5</a><span class="c_line">|</span>
		            <a href="#" title="">python</a><span class="c_line">|</span>
		            <a href="#" title="">angular.js</a><span class="c_line">|</span>
		            <a href="#" title="">Vue.js</a><span class="c_line">|</span>
		            <a href="#" title="">javascript</a><span class="c_line">|</span>
		            <a href="#" title="">java</a><span class="c_line">|</span>
		            <a href="#" title="">javaweb</a><span class="c_line">|</span>
		            <a href="#" title="">..</a>
		          </div>
		          
		        </div>

		      </div>
		      
		      <div class="hmod_main_item">
		        <ul class="ulist ulist_s3 clearfix">

		          <li>
		            <div class="v_list_pic">
		              <a class="v_list_cover" href="#" target="_blank">
		                <img class="lazyimg" src="../../../../Public/images/01.jpg" alt="" style="display: inline;">
		              </a>
		            </div>
		            <div class="v_list_txt">
		              <div class="v_info">
		                <h3 class="v_tit_box">
		                  <a href="#" class="v_tit" target="_blank" title="">描述：php</a>
		                </h3>
		                <h4 class="v_tit_column">分类：编程</h4>
		                <p class="o_v_info"><span class="ply"><s title=""></s>观看次数：380</span><span class="cms"><s title="">0</s></span></p>
		              </div>
		            </div>
		          </li>
		          
		          <li>
		            <div class="v_list_pic">
		              <a class="v_list_cover" href="#" target="_blank">
		                <img class="lazyimg" src="../../../../Public/images/01.jpg" alt="" style="display: inline;">
		              </a>
		            </div>
		            <div class="v_list_txt">
		              <div class="v_info">
		                <h3 class="v_tit_box">
		                  <a href="#" class="v_tit" target="_blank" title="">php</a>
		                </h3>
		                <h4 class="v_tit_column">编程</h4>
		                <p class="o_v_info"><span class="ply"><s title=""></s>380</span><span class="cms"><s title="">0</s></span></p>
		              </div>
		            </div>
		          </li>
		          <li>
		            <div class="v_list_pic">
		              <a class="v_list_cover" href="#" target="_blank">
		                <img class="lazyimg" src="../../../../Public/images/01.jpg" alt="" style="display: inline;">
		              </a>
		            </div>
		            <div class="v_list_txt">
		              <div class="v_info">
		                <h3 class="v_tit_box">
		                  <a href="#" class="v_tit" target="_blank" title="">php</a>
		                </h3>
		                <h4 class="v_tit_column">编程</h4>
		                <p class="o_v_info"><span class="ply"><s title=""></s>380</span><span class="cms"><s title="">0</s></span></p>
		              </div>
		            </div>
		          </li>
		          <li>
		            <div class="v_list_pic">
		              <a class="v_list_cover" href="#" target="_blank">
		                <img class="lazyimg" src="../../../../Public/images/01.jpg" alt="" style="display: inline;">
		              </a>
		            </div>
		            <div class="v_list_txt">
		              <div class="v_info">
		                <h3 class="v_tit_box">
		                  <a href="#" class="v_tit" target="_blank" title="">php</a>
		                </h3>
		                <h4 class="v_tit_column">编程</h4>
		                <p class="o_v_info"><span class="ply"><s title=""></s>380</span><span class="cms"><s title="">0</s></span></p>
		              </div>
		            </div>
		          </li>
		          <li>
		            <div class="v_list_pic">
		              <a class="v_list_cover" href="#" target="_blank">
		                <img class="lazyimg" src="../../../../Public/images/01.jpg" alt="" style="display: inline;">
		              </a>
		            </div>
		            <div class="v_list_txt">
		              <div class="v_info">
		                <h3 class="v_tit_box">
		                  <a href="#" class="v_tit" target="_blank" title="">php</a>
		                </h3>
		                <h4 class="v_tit_column">编程</h4>
		                <p class="o_v_info"><span class="ply"><s title=""></s>380</span><span class="cms"><s title="">0</s></span></p>
		              </div>
		            </div>
		          </li>
		          <li>
		            <div class="v_list_pic">
		              <a class="v_list_cover" href="#" target="_blank">
		                <img class="lazyimg" src="../../../../Public/images/01.jpg" alt="" style="display: inline;">
		              </a>
		            </div>
		            <div class="v_list_txt">
		              <div class="v_info">
		                <h3 class="v_tit_box">
		                  <a href="#" class="v_tit" target="_blank" title="">php</a>
		                </h3>
		                <h4 class="v_tit_column">编程</h4>
		                <p class="o_v_info"><span class="ply"><s title=""></s>380</span><span class="cms"><s title="">0</s></span></p>
		              </div>
		            </div>
		          </li>

		        </ul>
		      </div>

		      <div class="row">
				<table class="table">
					<tr>
						<td ><a href="#"><img src="../../../../Public/images/121.jpg" /></a></td>
						<td><a href="#"><img src="../../../../Public/images/121.jpg" /></a></td>
						<td><a href="#"><img src="../../../../Public/images/121.jpg" /></a></td>	
						<td><a href="#"><img src="../../../../Public/images/121.jpg" /></a></td>				
					</tr>
					<tr>
					<td ><a href="#">1111</td>
					<td><a href="#">1111</td>
					<td><a href="#">1111</td>	
					<td><a href="#">1111</td>				
				</tr>			
				</table>
			  </div>	

		    </div>

		    <div class="hmod_side">
		      <div class="hmod_hd clearfix">
		        <div class="hmod_hd_title">
		          <h2>热门语言</h2>
		        </div>
		      </div>
		      <div class="hmod_bd">
		        <ul class="htlist">

		          <li>
		            <h3 class="ht_tit"><a href="#" target="_blank" title="">php</a> </h3>
		            <p class="ht_info"><span class="plface"><img width="40" height="40" src="../../../../Public/images/02.jpg"></span>php是最好的语言</p>
		            <p class="ht_info"><a class="join" href="#" target="_blank">点我观看</a></p>
		          </li>

		          <li>
		            <h3 class="ht_tit"><a href="#" target="_blank" title="">php</a> </h3>
		            <p class="ht_info"><span class="plface"><img width="40" height="40" src="../../../../Public/images/02.jpg"></span>php是最好的语言</p>
		            <p class="ht_info"><a class="join" href="#" target="_blank">点我观看</a></p>
		          </li>

		          <li>
		            <h3 class="ht_tit"><a href="#" target="_blank" title="">php</a> </h3>
		            <p class="ht_info"><span class="plface"><img width="40" height="40" src="../../../../Public/images/02.jpg"></span>php是最好的语言</p>
		            <p class="ht_info"><a class="join" href="#" target="_blank">点我观看</a></p>
		          </li>

		          <li>
		            <h3 class="ht_tit"><a href="#" target="_blank" title="">php</a> </h3>
		            <p class="ht_info"><span class="plface"><img width="40" height="40" src="../../../../Public/images/02.jpg"></span>php是最好的语言</p>
		            <p class="ht_info"><a class="join" href="#" target="_blank">点我观看</a></p>
		          </li>

		        </ul>
		      </div>
		    </div>

	  	</div>
		
	<footer class="footer ">
      <div class="container">
        <div class="row footer-top">
        	<div class="col-sm-6 col-lg-6">
            <h4>
              <img src="../../../../Public/images/learn.png">
            </h4>
            <p>在这里可以我们可以相互学习，而且只要你想学，这里随时欢迎！</p>
          </div>

        	<div class="col-sm-6  col-lg-5 col-lg-offset-1">
            	<div class="row about">
              	<div class="col-xs-3">
                	<h4>关于</h4>
                	<ul class="list-unstyled">
                  		<li><a href="#">关于我们</a></li>
                  		<li><a href="#">地址</a></li>
                	</ul>
              	</div>
              	<div class="col-xs-3">
                	<h4>联系方式</h4>
                	<ul class="list-unstyled">
                  		<li><a href=# title="#" target=" ">新浪微博</a></li>
                  		<li><a href=#>电子邮件</a></li>
                	</ul>
              	</div>
              	<div class="col-xs-3">
                	<h4>友情链接</h4>
                	<ul class="list-unstyled">
                  		<li><a href="http://www.baidu.com" title="百度" target="_blank">百度</a></li>
                  		<li><a href="http://www.xuetangx.com/">学堂在线</a></li>
                	</ul>
              	</div>
            	</div>
   			</div>
        </div>
      </div>
        <hr>
        <div class="row footer-bottom">
          <ul class="list-inline text-center">
            <li><a href=# target="">粤ICP备*********号</a></li><li>Copyright © 2015-2016</li>
          </ul>
        </div>
      </div>
    </footer>

	<script type="text/javascript" src="../../../../Public/js/jquery.1.11.1.min.js"></script>
<script type="text/javascript">
	var temp = 0;
	var T;
	var speed = 5000;

	$(function  () {
		$(".change_box li").click(function  () {//方框切换
			clearInterval(T);
			$(".show_div").removeClass('show_div');
			temp = $(this).index();
			switch($(this).index()){
				case 0:
					$(".banner_box div").eq(0).find('img').addClass("show_div");break;
				case 1: 
					$(".banner_box div").eq(1).find('img').addClass("show_div");break;
				case 2: 
					$(".banner_box div").eq(2).find('img').addClass("show_div");break;
				case 3: 
					$(".banner_box div").eq(3).find('img').addClass("show_div");break;
				default: break;
			}
			setTime();						
		})
	});

	var length = document.getElementsByClassName('change_box')[0].getElementsByTagName('li').length;
	$(function(){
		$(".banner_box a").click(function(){//箭头切换
			clearInterval(T);
			$(".show_div").removeClass('show_div');
			var tip=$(this).attr("tip");
			if(tip == 0){
				temp= temp-1;
			}else{
				temp= temp +1;
			}
			if(temp == length) temp = 0;
			if(temp < 0) temp = length -1;
			switch(temp){
				case 0:
					$(".banner_box div").eq(0).find('img').addClass("show_div");break;
				case 1: 
					$(".banner_box div").eq(1).find('img').addClass("show_div");break;
				case 2: 
					$(".banner_box div").eq(2).find('img').addClass("show_div");break;
				case 3: 
					$(".banner_box div").eq(3).find('img').addClass("show_div");break;
				default: break;
			}	
			setTime();
		})
	});

	function settemp(){
	     temp=temp+1;
	     if(temp == length){
		 	temp=0;  
		 }
	   }

	function turnimage(num){
		$(".show_div").removeClass('show_div');
		switch(num){
			case 0:
				$(".banner_box div").eq(0).find('img').addClass("show_div");break;
			case 1: 
				$(".banner_box div").eq(1).find('img').addClass("show_div");break;
			case 2: 
				$(".banner_box div").eq(2).find('img').addClass("show_div");break;
			case 3: 
				$(".banner_box div").eq(3).find('img').addClass("show_div");break;
			default: break;
		}	
	}
	
	clearInterval(T);
	T= setInterval(function(){
	 settemp();
	 turnimage(temp);
	 },speed);

	function setTime(){
		T= setInterval(function(){
		 settemp();
		 turnimage(temp);
		 },speed);
	}
</script>
<script src="../../../../Public/js/layout-1.0.0.js"></script>
<script>
	if (navigator.userAgent.indexOf('MSIE 6') === -1) {
	 layout.onPageScroll(function(scrollLength, helper) {
	  helper[scrollLength.top > 60 ? 'addClass' : 'removeClass'](document.getElementById('wrap'), 'h_main_fixed');
	 });
	}
	layout.onPageResize(function(size, helper) {
	 helper[size.width < 1335 ? 'addClass' : 'removeClass'](document.body, 's_screen');
	 helper[size.width >= 1335 ? 'addClass' : 'removeClass'](document.body, 'b_screen');
	});
</script>
</body>
</html>